<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#home">Home</a>
  </li>
  <li>
    <a data-toggle="tab" href="#maintainance">Maintainance</a>
  </li>
  <li>
    <a data-toggle="tab" href="#vehicle">Vehicle</a>
  </li>
  <li>
    <a data-toggle="tab" href="#property">Property Maintainance</a>
  </li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h1 style="text-align:center">Welcome to Home Page!</h1>
  </div>
  <div id="maintainance" class="tab-pane fade">
    <maintainance></maintainance>
  </div>
  <div id="vehicle" class="tab-pane fade">
    <vehicle></vehicle>
  </div>
  <div id="property" class="tab-pane fade">
    <property></property>
  </div>
</div>


<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>  -->